<div class="card mb-3">
    <img src="<%= campground.imageUrl %>" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-geo-alt"> </i><%= campground.location %></h6>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text fw-bold">$<%= campground.price %> per night</p>
    </div>
    <% if (campground.author?.equals(currentUser?._id)) { %>
        <div class="card-body">
            <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                <div class="text-center">
                    <a href="/campgrounds/<%= campground.id %>/edit" rel="noopener noreferrer" class="btn btn-primary"><i class="bi bi-pencil-fill"> </i>Edit</a>
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"> </i>Delete</button>
                </div>
            </form>
        </div>
    <% } %>
    <div class="card-footer">
        Submitted <%= campground.createdAt %> by <i><%= campground.author?.username || "unknown" %></i>
    </div>
</div>