<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= campground.imageUrl %>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-geo-alt"> </i><%= campground.location %></h6>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text fw-bold">$<%= campground.price %> per night</p>
            </div>
            <div class="card-body">
                <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                    <div class="text-center">
                        <a href="/campgrounds/<%= campground.id %>/edit" rel="noopener noreferrer" class="btn btn-primary"><i class="bi bi-pencil-fill"> </i>Edit</a>
                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"> </i>Delete</button>
                    </div>
                </form>
            </div>
        </div>
        <h3>Leave a review</h3>
        <form action="/campgrounds/<%= campground.id %>/reviews" class="mb-3" method="POST">
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <div>
                    <i class="bi bi-star-fill" style="color: gold;"> </i><output>3</output> / 5 
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating" oninput="this.previousElementSibling.value = this.value">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Submit review</button>
        </form>
    </div>
</div>
<div class="mb-3">
    <a href="/campgrounds" rel="noopener noreferrer" class="btn btn-secondary"><i class="bi bi-caret-left-fill"> </i>Back to campgrounds</a>
</div>

