<div class="card mb-3">
    <div class="card-body">
        <div class="mb-2" style="display: flex; align-items: center;">
            <i class="bi bi-person-circle me-2" style="font-size: 2rem; color: cornflowerblue;"></i>
            <h5 class="card-title mt-2"> <%= review.author?.username %> </h5>
            <span class="text-muted ms-2">
                <%= review.createdAt %>
            </span>
        </div>
        <p class="card-subtitle mb-2 starability-result" style="scale: 0.75; margin-left: -18px;" data-rating="<%= review.rating %>">
            Rated: <%= review.rating %> stars
        </p>
        <p class="card-text fst-italic"><%= review.body %></p>
        <% if (review.author?.equals(currentUser?._id)) { %>
            <form action="/campgrounds/<%= campground.id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <div>
                    <button type="submit" class="btn position-absolute top-0 end-0 m-2" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Delete review">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </div>
            </form>
        <% } %>
    </div>
</div>