<div class="card mb-3">
    <div class="card-body">
        <div class="mb-2" style="display: flex; align-items: center;">
            <i class="bi bi-person-circle me-2" style="font-size: 2rem; color: cornflowerblue;"></i>
            <h5 class="card-title mt-2"> <%= review.author?.username %> </h5>
            <span class="text-muted ms-2">
                <%= review.createdAt %>
            </span>
        </div>
        <p class="card-subtitle mb-2 starability-result" style="scale: 0.75; margin-left: -18px;" data-rating="<%= review.rating %>">
            Rated: <%= review.rating %> stars
        </p>
        <p class="card-text fst-italic"><%= review.body %></p>
        <div class="dropstart position-absolute top-0 end-0 mt-2">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
                <% if (review.author?.equals(currentUser?._id)) { %>
                    <li>
                        <form action="/campgrounds/<%= campground.id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="dropdown-item">
                                <i class="bi bi-trash-fill me-2"></i>
                                Delete
                            </button>
                        </form>
                    </li>
                <% } %>
                <li>
                    <button class="dropdown-item">
                        <i class="bi bi-share-fill me-2"></i>
                        Share <!-- TODO add functionality -->
                    </button>
                </li>
                <li>
                    <button class="dropdown-item">
                        <i class="bi bi-flag me-2"></i>
                        Report <!-- TODO add functionality -->
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>