<div class="card mb-3">
    <div class="card-body">
        <div class="mb-2" style="display: flex; align-items: center;">
            <i class="bi bi-person-circle me-2" style="font-size: 2rem; color: cornflowerblue;"></i>
            <h5 class="card-title mt-2"> <%= review.author?.username %> </h5>
            <span class="text-muted ms-2">
                <%= review.createdAt %>
            </span>
        </div>
        <p class="card-subtitle mb-2 starability-result" style="scale: 0.75; margin-left: -18px;" data-rating="<%= review.rating %>">
            Rated: <%= review.rating %> stars
        </p>
        <p class="card-text fst-italic"><%= review.body %></p>
        <div class="dropstart position-absolute top-0 end-0 mt-2">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
                <% if (review.author?.equals(currentUser?._id)) { %>
                    <li>
                        <button type="submit" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteReview<%= review._id %>">
                            <i class="bi bi-trash-fill me-2"></i>
                            Delete
                        </button>
                    </li>
                <% } %>
                <li>
                    <button class="dropdown-item">
                        <i class="bi bi-share-fill me-2"></i>
                        Share <!-- TODO add functionality -->
                    </button>
                </li>
                <li>
                    <button class="dropdown-item">
                        <i class="bi bi-flag me-2"></i>
                        Report <!-- TODO add functionality -->
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Delete review modal -->
<div class="modal fade" id="deleteReview<%= review._id %>" tabindex="-1" aria-labelledby="deleteReviewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteReviewLabel">Delete review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this review?
                <div class="callout">
                    <p class="card-subtitle mb-2 starability-result" style="scale: 0.75; margin-left: -18px;" data-rating="<%= review.rating %>">
                        Rated: <%= review.rating %> stars
                    </p>
                    <p class="card-text fst-italic"><%= review.body %></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                <form action="/campgrounds/<%= campground.id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>